* {
  margin: 0px;
  padding: 0px;
}

.App {
  text-align: center;
}

.home-top-container {
  box-sizing: border-box;
  padding-top: 15vh;
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(9, 18, 56, 0.25), rgba(4, 9, 30, 0.25)), url(../img/background.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.trip-search {
  padding: 0px;
  height: 30px;
  border: solid #054752 1px;
  text-align: center;
}

.trip-search .loc {
  width: 25%;
}

.header {
  color: #054752;
}