body {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #a1dddf;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

a, a:hover {
    text-decoration: none !important;
}

.content {
    height: 70vh;
}

.footer-48201 {
    padding-top: 3rem;
    background-color: #a1dddf;
    color: #054752;
}

.text-md-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-48201 .footer-site-logo {
    font-size: 1rem;
    color: #fff;
    max-height: 100px;
}

.footer-48201 .nav-links li {
    margin-bottom: 10px;
}

.footer-48201 .nav-links li a {
    color: #054752;
}

.footer-48201 .nav-links li a:hover {
    color: #fff;
}

.footer-48201 .btn.btn-tertiary {
    background-color: #054752;
    color: #fff;
    border-radius: 30px;
    border: none;
    padding: 10px 20px;
}
.footer-48201 .btn.btn-tertiary:hover {
    background-color: #fff;
    color:#054752;
    font-weight: 450;
}

.footer-48201 .social li {
    display: inline-block;
}

.footer-48201 .social li a {
    color: #054752;
    padding: 7px;
}

.footer-48201 .social li a:hover {
    color: #fff;
}

.footer-48201 .copyright {
    border-top: 1px solid #054752;
    padding-top: 0px;
}